.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: linear-gradient(180deg, #DEAC80,#e1ffea22 60%);
    

}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-profile{
    width: 85px;
    height: 90px;
    cursor: pointer;
    border-radius: 60px;

}
@media(max-width: 800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}